//Стили для блока с хрен пойми чем
.uppercase {
  text-transform: uppercase;
}

.slash__left-top {
  &:before {
    content: '';
    background-image: url('../img/Rectangle_small.png');
    background-repeat: no-repeat;
    background-position: 0 15%;
    position: absolute;
    left: 50%;
    top: -75px;
    width: 21px;
    height: 21px;

    @media (max-width: 767.98px) {
      display: none;
    }
  }
}

.county {
  margin-bottom: 85px;
  //margin-left: 16.3%;
  @media (max-width: 768px) {
    max-width: 100%;
    padding: 0 5%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 45px;
    margin-top: 60px;
    @media (max-width: 991.98px) {
      font-size: 35px;
      text-align: center;
      margin-top: 90px;
    }

    @media (max-width: 767.98px) {
      font-size: 35px;
      text-align: center;
      margin-top: 30px;
    }

    @media (max-width: 421.98px) {
      font-size: 35px;
      text-align: center;
      margin-top: 70px;
    }

    & > span {
      display: flex;
      margin-bottom: 40px;
      @media (max-width: 768px) {
        justify-content: center;
      }
    }

    &:after {
      content: 'How we serve our craft barbecue';
      font-size: 16px;
      font-family: 'Open sans', sans-serif;
      font-weight: 700;
      line-height: 26px;
      color: #8b8c8d;
      text-transform: none;
    }

    &-red {
      color: #fa1921;
    }

    &-bold {
      font-weight: 700;
    }
  }

  &__items {
    display: flex;
    margin-top: 95px;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
      margin-top: 35px;
      align-items: center;
    }

    &__item {
      @media (max-width: 1400px) {
        padding: 0 15px;
      }
      @media (max-width: 768px) {
        margin-bottom: 45px;
      }
      font-family: inherit;

      & > .alignment > img {
        margin-top: 16px;
      }

      &__wrapperImg {
        width: 90px;
        height: 90px;
        object-fit: scale-down;
        margin-bottom: 43px;
        @media (max-width: 768px) {
          margin: 0 auto;
        }
      }

      &_title {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 22px;
        @media (max-width: 768px) {
          text-align: center;
        }
      }

      &_description {
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        max-width: 370px;
      }
    }

    &__cart {
      width: 100%;
      max-width: 474px;
      max-height: 524px;
      margin-top: -177px;
      position: relative;
      @media (max-width: 991px) {
        margin-top: 0;
      }
      @media (max-width: 768px) {
        margin-bottom: 150px;
      }
      &__blackBlock {
        margin: auto;
        background-color: #000000;
        max-width: 407px;
        max-height: 243px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        @media (max-width: 768px) {
          max-width: unset;
          width: 100%;
        }
        &:after {
          border: 1px solid #000000;
          content: '';
          background-color: #f5f5f6;
          width: 477px;
          height: 513px;
          position: absolute;
          top: 32px;
          z-index: -1;
          @media (max-width: 991px) {
            margin: 20px auto;
            width: 319px;
            height: 450px;
          }
          @media (max-width: 768px) {
            width: 80vw;
          }
          @media (max-width: 584px) {
            width: 94vw;
          }
        }

        &__title {
          text-transform: uppercase;
          font-family: "Roboto Slab", sans-serif;
          color: #fdfafa;
          font-weight: bold;
          margin-top: 48px;
          font-size: 30px;
          &:before {
            content: '';
            background-image: url('../img/treugol_red.svg');
            height: 27px;
            width: 22px;
            position: absolute;
            left: 40px;
            transform: rotateY(180deg);
            @media (max-width: 991px) {
              left: 8px;
              top: 52px;
            }
            @media (max-width: 380px) {
              //left: 10px;
            }
          }
        }

        &__subtotal {
          width: 100%;
          display: flex;
          justify-content: space-around;
          margin-top: 50px;

          &__h {
            color: #ffffff;
            font-family: "Roboto Slab", sans-serif;
            font-size: 32px;
            font-weight: bold;
          }

          &__price {
            color: #f71a22;
            font-family: "PT Root UI", sans-serif;
            font-weight: bold;
            font-size: 33px;
          }
        }
      }

      &__shipping {
        font-family: "PT Root UI", sans-serif;
        font-size: 23px;
        color: #000000;
        margin: 20px 0 0 67px;
        @media (max-width: 991px) {
          margin: 20px auto;
        }
      }

      &__description {
        font-family: "PT Root UI", sans-serif;
        max-width: 288px;
        font-size: 23px;
        margin: 26px 0 0 67px;
        line-height: 29px;
        @media (max-width: 991px) {
          margin: 26px auto;
        }
        @media (max-width: 768px) {
          margin: 26px 0;
        }
      }

      &__wrapper {
        display: flex;
        margin: 34px 0 0 62px;
        font-weight: 700;
        @media (max-width: 991px) {
          margin: 34px auto;
        }
        &__totalPrice {
          white-space: nowrap;
          font-family: "Roboto Slab", sans-serif;
          color: #ed1e1e;
          font-size: 32px;
          &-paymentPrice {
            color: #ed1e1e;
            font-size: 50px;
            font-family: "PT Root UI", sans-serif;
            margin-left: 42px
          }
        }
      }
      &__buttonProceed {
        font-family: "Myriad Pro", sans-serif;
        font-size: 25px;
        color: #ffffff;
        font-weight: 700;
        line-height: 32.28px;
        background-color: #f71a22;
        border: 1px solid #f71a22;
        transition: all ease 0.3s;
        position: absolute;
        transform: translate(-50%);
        left: 50%;
        bottom: -56px;
        padding: 10px 29px 15px;
        @media (max-width: 991px) {
          bottom: -7px;
        }
        @media (max-width: 768px) {
          bottom: -67px;
        }
        &:hover {
          background-color: #ffffff;

          color: #f71a22;
        }
      }
    }
  }

  &__btn {
    position: relative;
    margin-bottom: -118px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    width: 212px;
    height: 63px;
    background-color: #f71a22;
    color: #ffffff;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32.28px;
    text-align: left;
    transition: all ease 0.3s;
    z-index: 2;
    border: none;

    &:hover {
      transition: all ease 0.3s;
      color: #f71a22;
      border: 1px solid #f71a22;
      background-color: #ffffff;
    }

    @media (max-width: 768.98px) {
      margin-bottom: -30px;
      margin-left: 135px;
    }

    @media (max-width: 575.98px) {
      margin-bottom: -30px;
      margin-left: 40px;
    }
  }

  &__btn::before {
    content: url('../img/right-arrow.png');
    position: absolute;
    right: 20px;
  }
}

.county__title-history::after {
  content: '';
}

.catering__separator {
  font-size: 30px;
  font-weight: 400;
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  color: #535252;
  padding: 85px 0 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;

  & > span {
    margin: 0 10px;
  }
}

//Стили для блока с хрен пойми чем вот по сюда

.about {
  background-color: #ececed;

  @media (max-width: 575.98px) {
    padding-left: 20px;
  }

  &__box {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;

    @media (max-width: 575.98px) {
      margin-top: 30px;
    }

    img {
      width: 22px;
      height: 22px;
    }

    h3 {
      color: #fa1921;
      font-family: 'Roboto Slab';
      font-size: 3.2em;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 48px;
      text-align: left;
      margin-left: 13px;

      @media (max-width: 575.98px) {
        font-size: 3em;
      }
    }
  }

  &__text {
    font-family: 'Myriad Pro';
    font-size: 1.7em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: left;
    margin-bottom: 60px;

    @media (max-width: 768.98px) {
      margin-bottom: -20px;
    }
  }

  &__box--right {
    justify-content: flex-end;
    margin-bottom: 50px;

    @media (max-width: 991.98px) {
      justify-content: inherit;
    }

    @media (max-width: 575.98px) {
      margin-top: 80px;
      margin-bottom: 25px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    padding-left: 137px;

    @media (max-width: 1399.98px) {
      padding-left: 80px;
    }

    @media (max-width: 1199.98px) {
      padding-left: 20px;
    }

    @media (max-width: 991.98px) {
      padding-left: 0;
    }

    p {
      margin-left: 30px;
      font-family: 'Myriad Pro';
      font-size: 1.6em;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 28px;
      text-align: left;
      margin-bottom: 0;

      @media (max-width: 1199.98px) {
        font-size: 2em;
      }
    }
  }

  div:nth-of-type(3n) {
    margin-top: 20px;
  }

  &__house {
    max-width: 174px;
    max-height: 151px;
    margin-top: 60px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 991.98px) {
      margin-bottom: 40px;
    }

    @media (max-width: 768.98px) {
      display: none;
    }

    @media (max-width: 575.98px) {
      margin-top: 0;
    }
  }
}

.county__index-mb {
  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}

.margin__basket {
  margin-top: 212px;
  margin-bottom: 236px;

  @media (max-width: 991px) {
    margin-top: 0;
  }

  @media (max-width: 768px) {
    margin-bottom: 133px;
  }

}