* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

html {
  font-size: 62.5%;
}

ul, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #535252;
  text-decoration: none;
}

a:hover {
  color: #f71a22;
}
body {
  box-sizing: border-box;
  background-color: #fcf7f7;
}

.link {
  transition: all ease 0.3s;
  position: relative;
  display: block;
  padding: 23px 0 22px 27px;
  width: 212px;
  height: 63px;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
  //box-shadow: -8px 15px 54px rgb(254 113 41);
  background-color: #f71a22;
  border: 1px solid #ffffff;
  @media screen and (max-width: 575px) {
    font-size: 20px;
  }

  @media screen and (max-width: 325px) {
    font-size: 16px;
    padding: 23px 0 22px 10px;
  }

  &:before {
    transition: all ease 0.3s;
    content: '';
    position: absolute;
    top: 27px;
    right: 17px;
    width: 34px;
    height: 12px;
    display: block;
    background: url('../img/right-arrow.png');
  }

  &:hover {
    transition: all ease 0.3s;
    color: #f71a22;
    border: 1px solid #f71a22;
    background-color: #ffffff;
  }

  &__about-us {
    margin-left: 95px;
  }
}

.color-red {
  color: #fa1921;
}
