.cards {
  padding-bottom: 80px;
  &__title {
    border: 1px solid #a6a3a3;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;

    h3 {
      color: #030303;
      font-family: 'Roboto Slab';
      font-size: 3.6em;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 60px;
      text-align: left;
      text-transform: uppercase;
      margin-left: 140px;
      margin-top: -70px;
      margin-bottom: 40px;

      @media (max-width: 767.98px) {
        margin-left: 60px;
      }

      @media (max-width: 575.98px) {
        margin-left: 0;
        margin-top: 0;
        font-size: 2.6em;
        line-height: normal;
        text-align: center;
      }
    }

    span {
      color: #fa1921;
      line-height: normal;
    }

    p {
      font-family: 'Roboto Slab';
      font-size: 2.2em;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 38px;
      text-align: left;
      margin-left: 140px;

      @media (max-width: 767.98px) {
        margin-left: 60px;
        margin-right: 10px;
      }

      @media (max-width: 575.98px) {
        margin-left: 10px;
        margin-right: 10px;
        line-height: normal;
        font-size: 2em;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding-bottom: 20px;
    margin-top: 41px;

    @media (max-width: 575.98px) {
      margin-top: 40px;
    }
    img {
      width: 90%;
      margin-top: -30px;
    }
  }

  &__meats {
    margin-top: 60px;
    &__box {
      display: flex;
      align-items: center;
      margin-bottom: 50px;

      h4 {
        font-family: 'Roboto Slab';
        font-size: 3.2em;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 60px;
        text-align: left;
        text-transform: uppercase;
        margin-left: 30px;
      }
    }

    &__text {
      p {
        font-family: 'Roboto Slab';
        font-size: 2.4em;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 38px;
        text-align: left;
      }
    }

    &__list {
      margin-top: 50px;
      li {
        color: #f71a22;
        font-family: 'Roboto Slab';
        font-size: 26px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 45px;
        text-align: left;
      }

      li::before {
        content: url('../img/square.png');
        margin-right: 15px;
      }
    }
  }

  &__sides {
    margin-top: 60px;

    &-box {
      display: flex;
      align-items: center;
      margin-bottom: 50px;

      h4 {
        font-family: 'Roboto Slab';
        font-size: 3.2em;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 60px;
        text-align: left;
        text-transform: uppercase;
        margin-left: 30px;
      }
    }

    &__text {
      p {
        font-family: 'Roboto Slab';
        font-size: 2.4em;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 38px;
        text-align: left;
      }
    }

    &-list {
      margin-top: 50px;
      li {
        color: #f71a22;
        font-family: 'Roboto Slab';
        font-size: 26px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 45px;
        text-align: left;
      }

      li::before {
        content: url('../img/square.png');
        margin-right: 15px;
      }
    }
  }

  &__discounts {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: 768.98px) {
      margin-top: 40px;
    }

    @media (max-width: 575.98px) {
      margin-top: 0;
    }

    &-box {
      position: relative;
      padding: 15px 240px 9px 23px;
      width: 100%;
      max-width: 980px;
      background-color: black;
      color: white;
      font-family: 'Roboto Slab';
      font-size: 2em;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;

      @media (max-width: 575.98px) {
        display: none;
      }

      &::before {
        content: url('../img/info.png');
        position: absolute;
        left: -108px;
        top: 0;

        @media (max-width: 991.98px) {
          display: none;
        }
      }

      @media (max-width: 1199.98px) {
        font-size: 1.6em;
        line-height: normal;
        width: 760px;
      }

      @media (max-width: 768.98px) {
        display: none;
      }
    }

    &-text {
      margin-top: 50px;
      padding-left: 150px;

      @media (max-width: 991.98px) {
        padding-left: 0;
      }

      p {
        font-family: 'Roboto Slab';
        font-size: 2.6em;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 38px;
        text-align: left;

        span {
          margin-right: 20px;
        }
      }
    }
    &-text {
      p:nth-child(3) {
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }
  }
}
