.footer {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;

  p {
    margin-left: 60px;
    color: #fefcfc;
    font-family: 'Myriad Pro';
    font-size: 1.6em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: left;

    @media (max-width: 575.98px) {
      margin-left: 10px;
      margin-top: 20px;
    }
  }

  img:first-child {
    margin-right: 10px;
  }

  &__box {
    display: flex;
    align-items: center;

    @media (max-width: 575.98px) {
      display: block;
    }
  }
}
