.orders {
  background-color: #000000;
  padding-top: 120px;
  position: relative;
  z-index: 1;

  @media (max-width: 575.98px) {
    padding-top: 20px;
  }
  &__title {
    h2 {
      color: #fdfafa;
      font-family: 'Roboto Slab';
      font-size: 4.5em;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 40px;

      @media (max-width: 575.98px) {
        font-size: 3.2em;
      }
    }
    p {
      color: #fdfafa;
      font-family: 'Open Sans';
      font-size: 1.6em;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 26px;
      text-align: center;
      margin-bottom: 80px;

      @media (max-width: 575.98px) {
        margin-bottom: 40px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-around;

    @media (max-width: 1199.98px) {
      flex-direction: column;
      margin-left: 360px;
      margin-right: 260px;
    }

    @media (max-width: 1090.98px) {
      margin-left: 360px;
      margin-right: 180px;
    }

    @media (max-width: 991.98px) {
      margin-left: 260px;
      margin-right: 180px;
    }

    @media (max-width: 891.98px) {
      margin-left: 230px;
      margin-right: 140px;
    }

    @media (max-width: 791.98px) {
      margin-left: 160px;
      margin-right: 120px;
    }

    @media (max-width: 691.98px) {
      margin-left: 40px;
      margin-right: 70px;
    }

    @media (max-width: 465.98px) {
      margin-left: 10px;
      margin-right: 10px;
    }

    @media (max-width: 375.98px) {
      margin-left: -18px;
      margin-right: 10px;
    }

    @media (max-width: 345.98px) {
      margin-left: -24px;
      margin-right: 0px;
    }

    &-title {
      padding: 0px 35px 0px 22px;
      background-color: #f71a22;
      margin-right: 140px;
      position: relative;

      h3 {
        position: relative;
        color: #fdfafa;
        font-family: 'Roboto Slab';
        font-size: 3em;
        font-weight: bold;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;

        @media (max-width: 1199.98px) {
          font-size: 2.6em;
        }

        @media (max-width: 575.98px) {
          text-align: center;
          font-size: 2em;
        }
      }

      h3::before {
        content: url('../img/Polygon.png');
        left: -70px;
        position: absolute;

        @media (max-width: 991.98px) {
          display: none;
        }
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 100px;
      flex: 0 0 45%;

      @media (max-width: 1199.98px) {
        margin-bottom: 60px;
      }

      &:nth-child(4) {
        @media (max-width: 768.98px) {
          margin-bottom: 0;
        }
      }

      @media (max-width: 575.98px) {
        margin-left: 0;
      }

      .menu__list::after {
        content: url('../img/Polygon_left.png');
        display: block;
        position: absolute;
        top: 160px;
        left: 110px;

        @media (max-width: 1199.98px) {
          display: none;
        }
      }
    }

    .list__item-empty {
      @media (max-width: 1199.98px) {
        display: none;
      }
    }

    &-menu {
      position: relative;
      display: flex;

      @media (max-width: 355.98px) {
        margin-right: 10px;
        margin-left: 20px;
      }

      .menu__list-img {
        @media (max-width: 575.98px) {
          display: none;
        }
      }

      .menu__list-box {
        max-width: 320px;
        width: 100%;
        margin-top: 20px;

        @media (max-width: 355.98px) {
          max-width: 280px;
        }
      }

      .menu__list-item {
        display: flex;
        justify-content: space-between;
        margin-left: 20px;

        p {
          color: #fdfafa;
          font-family: 'PT Root UI';
          font-size: 1.8em;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          text-align: left;
          margin-bottom: 0;
          line-height: 32px;
        }

        span {
          color: #fdfafa;
          font-family: 'PT Root UI';
          font-size: 1.2em;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          text-align: left;
          margin-bottom: 20px;
        }
      }

      .list__item-block {
        display: block;
        margin-bottom: 36px;

        @media (max-width: 575.98px) {
          margin-left: 20px;
        }

        p {
          line-height: normal;
        }
      }
    }
  }
}
