.table {
  width: 100%;
  margin-bottom: 57px;
  border-collapse: collapse;
  padding: 0;
  border-bottom-width: 0;
  box-shadow: none;

  &__th {
    font-family: "PT Root UI", sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 33px;
    text-align: left;
    color: #000000;

    &-delete {
      min-width: 166px;
    }

    &-product {
      min-width: 360px;
    }

    &-price {
      min-width: 77px;
    }

    &-quantity {
      min-width: 104px;
    }
  }

  &__tr {
    position: relative;
    width: 1266px;
    max-height: 136px;
    @media screen and (max-width: 1040px) {
      width: 100%;
      max-height: unset;
    }

    &:nth-child(odd) {
      border: 1px solid #000000;
      background-color: #f5f5f6;
      @media screen and (max-width: 1040px) {
        border: unset;
        background-color: unset;
      }
    }

    &-delete {
      padding: 50px 50px 58px 87px;
      @media screen and (max-width: 1040px) {
        padding: 0;
        position: absolute;
        top: 25px;
        right: 5px;
      }

    }

    &__product {
      @media screen and (max-width: 1040px) {
        width: 92%;
        &:before {
          content: unset !important;
        }
      }
    }
  }

  &__td {

    &-product {
      height: 80px;


      &-img {
        width: 80px;
        height: 80px;
        margin-right: 31px;
        @media screen and (max-width: 768px) {
          margin-right: 10px;
        }

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-label {
        padding: 16px 0 13px;
        max-width: 163px;
        color: #000000;
        font-family: "Roboto Slab", sans-serif;
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        text-align: left;
        @media screen and (max-width: 1040px) {
          max-width: 100%;
        }
        @media screen and (max-width: 768px) {
          width: 61vw;
        }
      }
    }

    & .universal-card__add {
      padding-bottom: 0;
    }

    @media screen and (max-width: 1040px) {
      & > div {
        position: absolute;
        bottom: 44%;
        width: 22%;
        //left: 50%;
        right: 0;
        @media screen and (max-width: 768px) {
          bottom: 42%;
        }
        //@media screen and (max-width: 450px) {
        //  bottom: 42%;
        //}
        @media screen and (max-width: 400px) {
          left: 75%;
        }
      }
      &:before {
        content: unset !important;
      }
    }

  }
}

@media screen and (max-width: 1040px) {
  .basket {
    min-height: 716px;
    height: 100%;

    &-table {
      max-width: 467px;
      width: 100%;
      margin: 0 auto;
    }
  }


  table.basket-table thead {
    display: none;
  }
  table.basket-table tr {
    //max-width: 800px;
    display: block;
    margin-bottom: 1rem;
    @media screen and (max-width: 768px) {
      margin-bottom: 5rem;
    }
    &:after {
      content: "";
      display: block;
      width: 66%;
      height: 1px;
      background-color: #e6e3e3;
      margin: 0 auto;
    }
  }
  table.basket-table td {
    margin-left: 0;
    display: block;
    align-items: center;
    @media screen and (max-width: 768px) {
      margin-top: 0;
    }

  }
  table.basket-table td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
    font-size: 20px;
    color: black;
  }
  .mediaTable {
    display: flex !important;
    flex-direction: column;
    align-items: unset !important;
    @media screen and (max-width: 768px) {
      margin-top: 10px !important;
    }
  }
}


.btn-delete {
  width: 29px;
  height: 29px;
  background-image: url("../img/remove.svg");
  background-position: center;
  border: none;
  background-color: initial;
}

.table-width {
  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 98%;
  }
}

@media screen and (max-width: 1040px) {
  .mediaTd {
    display: flex !important;
    justify-content: space-between;
    width: 100%;
    max-width: unset;
  }
}